.about-showcase {
	background-image: url("../images/test.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(36, 34, 38, 0.2);
		z-index: -1;
	}
}
