.contact-btn {
	border: 1px solid #fff2e3;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: transparent;
	color: $white;
	padding: 0.375rem 0.75rem;
	font-family: $Poppins;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.3125rem;
	letter-spacing: 0rem;
	text-align: left;
}

.btn-1 {
	background-color: $red;
	outline: none;
	border: none;
	border-radius: 0.75rem;
}
