.discount-container {
	background-image: url("../images/discount.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.disount-blue {
	position: absolute;
	right: 0;
	top: 0;
}
