//fonts
$Poppins: "Poppins", sans-serif;
$Roboto: "Roboto", sans-serif;
$Volkhov: "Volkhov", serif;
$sans: "Open Sans", sans-serif;
//colors

$purple: hsla(225, 99%, 32%, 1);
$header: hsla(234, 51%, 16%, 1);
$sub-header: hsla(241, 45%, 21%, 1);
$dark-grey: hsla(0, 0%, 18%, 1);
$white: hsla(32, 100%, 95%, 1);
$Primary-dark-blue: hsla(225, 99%, 32%, 1);
$light-grey: hsla(233, 16%, 44%, 1);
$red: hsla(357, 89%, 40%, 1);
